<form action="/content/<%= content.id %>" class="new_content admin_form" enctype="multipart/form-data" id="new_content" method="post">
  <p> 
    <label for="content_title">Title</label>
    <input id="content_title" name="content[title]" size="30" type="text" value="<%= content.title %>"/>
  </p>
  <p>
    <label for="content_slug">Slug</label>
    <input id="content_slug" name="content[slug]" size="30" type="text" value="<%= content.slug %>"/>
  </p>

  <p> 
    <label for="content_content_original_language">Original Language</label>
    <input id="content_slug" name="content[content][original_language]" size="30" type="text" value="<%= content.content['original_language'] %>"/>
  </p>
  <p> 
    <label for="content_content_original_words">Original Words</label>
    <textarea cols="40" id="content_content_original_words" name="content[content][original_words]" rows="20"><%= content.content['original_words']%></textarea>
  </p>
  <p> 
    <label for="content_content_author">Author</label>
    <input id="content_slug" name="content[content][author]" size="30" type="text" value="<%= content.content['author'] %>"/>
  </p>
  <p> 
    <label for="content_content_author">Source</label>
    <input id="content_slug" name="content[content][source]" size="30" type="text" value="<%= content.content['source'] %>" />
  </p>

  <div id="words_form">
    <% unless content.content['languages'].blank? %>
      <% content.content['languages'].each_with_index do |lang, i| %>
     <p> 
       <label for="content_content_languages_">Language</label>
       <input id="content_languages_" name="content[content][languages][]" size="30" type="text" value="<%= content.content['languages'][i]%>"/>
     </p>
     <p> 
       <label for="content_content_words_">Words</label>
       <textarea cols="40" id="content_content_words_" name="content[content][words][]" rows="20"><%= content.content['words'][i] %></textarea>
     </p>
     <p> 
       <label for="content_content_author">Translator</label>
       <input id="content_slug" name="content[content][translators][]" size="30" type="text" value="<%= content.content['translators'][i] %>" />
     </p>
     <p> 
       <label for="content_content_author">Translation Source</label>
       <input id="content_slug" name="content[content][translation_sources][]" size="30" type="text" value="<%= content.content['translation_sources'][i] %>"/>
     </p> 
      <% end %>
    <% end %>
  </div>
  <p> 
    <a href="#" id="more_words">More Langauges</a>
  </p>
  <script type="text/javascript">
    $("#more_words").click(function() {
      $("#words_form").append(
'  <p> ' +
'    <label for="content_content_languages_">Language</label>' +
'    <input id="content_slug" name="content[content][languages][]" size="30" type="text" />' +
'  </p>' +
'  <p> ' +
'    <label for="content_content_words_">Words</label>' +
'    <textarea cols="40" id="content_content_words_" name="content[content][words][]" rows="20"></textarea>' +
'  </p>' +
'  <p> ' +
'    <label for="content_content_author">Translator</label>' +
'    <input id="content_slug" name="content[content][translators][]" size="30" type="text" />' +
'  </p>' +
'  <p> ' +
'    <label for="content_content_author">Translation Source</label>' +
'    <input id="content_slug" name="content[content][translation_sources][]" size="30" type="text" />' +
'  </p>' 
      );
      return false;
    });
  </script>

  <p> 
    <input name="commit" type="submit" value="Save" />
  </p>
</form>

<script type="text/javascript">
$("#new_content").submit(function() {
  var options = {
  dataType: 'script'
  };

  $(this).ajaxSubmit(options);

  return false;
}); 
</script>

