<form action="/content/create" class="new_content admin_form" enctype="multipart/form-data" id="new_content<%=@id_add%>" method="post">
  <input id="content_ctype<%=@id_add%>" name="content[ctype]" size="30" type="hidden" value="<%= params[:ctype] %>" />
  <p> 
    <label for="content_title<%=@id_add%>">Title</label>
    <input id="content_title<%=@id_add%>" name="content[title]" size="30" type="text" />
  </p>
  <p style="display: none;"> 
    <label for="content_slug<%=@id_add%>">Slug</label>
    <input id="content_slug<%=@id_add%>" name="content[slug]" size="30" type="text" />
  </p>
  <p> 
    <label for="content_content_original_language<%=@id_add%>">Original Language</label>
    <input id="content_content_original_language<%=@id_add%>" name="content[content][original_language]" size="30" type="text" />
  </p>
  <p> 
    <label for="content_content_original_words<%=@id_add%>">Original Words</label>
    <textarea cols="40" id="content_content_original_words<%=@id_add%>" name="content[content][original_words]" rows="20"></textarea>
  </p>
  <p> 
    <label for="content_content_author<%=@id_add%>">Author</label>
    <input id="content_content_author<%=@id_add%>" name="content[content][author]" size="30" type="text" />
  </p>
  <p> 
    <label for="content_content_source<%=@id_add%>">Source</label>
    <input id="content_content_source<%=@id_add%>" name="content[content][source]" size="30" type="text" />
  </p>

  <div id="words_form<%=@id_add%>">
  </div>
  <p> 
    <a href="#" id="more_words<%=@id_add%>">More Langauges</a>
  </p>
  <script type="text/javascript">
    $("#more_words<%=@id_add%>").click(function() {
      $("#words_form<%=@id_add%>").append(
'  <p> ' +
'    <label for="content_content_languages_">Language</label>' +
'    <input id="content_content_langauges_" name="content[content][languages][]" size="30" type="text" />' +
'  </p>' +
'  <p> ' +
'    <label for="content_content_words_">Words</label>' +
'    <textarea cols="40" id="content_content_words_" name="content[content][words][]" rows="20"></textarea>' +
'  </p>' +
'  <p> ' +
'    <label for="content_content_translators_">Translator</label>' +
'    <input id="content_content_translators_" name="content[content][translators][]" size="30" type="text" />' +
'  </p>' +
'  <p> ' +
'    <label for="content_content_translation_sources_">Translation Source</label>' +
'    <input id="content_content_translation_sources_" name="content[content][translation_sources][]" size="30" type="text" />' +
'  </p>' 
      );
      return false;
    });
  </script>



  <% if @id_add.nil? %>
  <p> 
    <label for="content_public<%=@id_add%>">Public</label>
    <input id="content_public<%=@id_add%>" name="content[public]" type="checkbox" value="1" />
  </p>
  <% else %>
    <input type="hidden" name="overlay" value="1" />
  <% end %>

  <p> 
    <input name="commit" type="submit" value="Save" />
  </p>
</form>

<script type="text/javascript">
$("#new_content<%=@id_add%>").submit(function() {
  $(this).ajaxSubmit({'dataType': 'script'});
  return false;
}); 
</script>
