<div class="post page">
  <h2 class="post-title">
    <a href="/<%= content.slug %>" title="<%= content.title %>"><%= content.title %></a>
  </h2>

  <p class="byline">
    <!--
    <span class="time"><%= content.created_at.strftime('%B %d, %Y') %></span>
    <span class="author"><a href="http://themehybrid.com/demo/bliss/?author=1" title="Posts by Justin Tadlock">Justin Tadlock [FIX THIS]</a></span> 
    -->
    <a href="http://themehybrid.com/demo/bliss/?p=102#comments" class="comments-link"  title="Comment on This is an example post">2 Comments [FIX THIS]</a>          
  </p>

  <div class="entry">
    <%=markdown gfm content.content['body']%>
  </div>

  <div class="post-meta-data">
    <!--
  <span class="categories">Categories: <a href="http://themehybrid.com/demo/bliss/?cat=5" title="View all posts in General" rel="category">General</a></span>
  <span class="tags">Tags: <a href="http://themehybrid.com/demo/bliss/?tag=example" rel="tag">Example</a>, <a href="http://themehybrid.com/demo/bliss/?tag=example-post" rel="tag">example post</a></span>
    -->
  </div>
</div>
